[Desktop Entry]
Icon=go-up
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_upload
X-KDE-FactoryName=kcm_kdev_upload
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=kdevplatformproject,kdevupload
X-KDE-CfgDlgHierarchy=GENERAL

Name=Upload Profiles
Name[bs]=Pošalji profilie
Name[ca]=Pujada de perfils
Name[ca@valencia]=Pujada de perfils
Name[cs]=Profily odesílání
Name[de]=Upload-Profile
Name[en_GB]=Upload Profiles
Name[es]=Perfiles de envío
Name[et]=Üleslaadimisprofiilid
Name[fi]=Lähetysprofiilit
Name[fr]=Envoi de profils
Name[ga]=Próifílí Uasluchtaithe
Name[gl]=Enviar os perfís
Name[hu]=Feltöltés profilok
Name[it]=Invia profili
Name[nl]=Uploadprofielen
Name[pl]=Profile wysyłania
Name[pt]=Perfis de Envio
Name[pt_BR]=Perfis de envio
Name[sk]=Nahrať profily
Name[sv]=Uppladdningsprofiler
Name[tr]=Yükleme Profilleri
Name[uk]=Профілі вивантаження
Name[x-test]=xxUpload Profilesxx
Comment=Configure Upload Profiles
Comment[bs]=Podešavanje slanja profila
Comment[ca]=Configura la pujada de perfils
Comment[ca@valencia]=Configura la pujada de perfils
Comment[cs]=Nastavit profily odesílání
Comment[de]=Upload-Profile einrichten
Comment[en_GB]=Configure Upload Profiles
Comment[es]=Configurar perfiles de envío
Comment[et]=Üleslaadimisprofiilide seadistamine
Comment[fi]=Lähetysprofiilien asetukset
Comment[fr]=Configure les envois de profils
Comment[ga]=Cumraigh Próifílí Uasluchtaithe
Comment[gl]=Configurar os perfís de envío
Comment[hu]=Feltöltés profilok beállítása
Comment[it]=Configura invia profili
Comment[nl]=Uploadprofielen instellen
Comment[pl]=Konfiguruj profile wysyłania
Comment[pt]=Configurar os Perfis de Envio
Comment[pt_BR]=Configurar os perfis de envio
Comment[sk]=Nastaviť nahrávanie profilov
Comment[sv]=Anpassa uppladdningsprofiler
Comment[tr]=Yükleme Profillerini Yapılandır
Comment[uk]=Налаштувати профілі вивантаження
Comment[x-test]=xxConfigure Upload Profilesxx
