<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="upload" version="2" translationDomain="kdevupload">
<MenuBar>
  <Menu name="project">
    <Action name="project_upload" />
    <Action name="quick_upload_current_file" />
  </Menu>
</MenuBar>
</gui>
